<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form id="signUpForm" action="user_signUp" method="post">
		ID : <input type="text" name="signUp_userid"><br>
		Password : <input type="password" name="signUp_password"><br>
		이름 : <input type="text" name="signUp_name"><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>