<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/write_style.css">
</head>
<body>
	<form action="write_post" method="post">
		<textarea rows="3" cols="40" placeholder="제목을 적어주세요." name="post_title"></textarea><br>
		<textarea rows="40" cols="100" placeholder="내용을 적어주세요." name="post_content"></textarea><br>
		<input type="submit" value="제출">
	</form>
</body>
</html>